*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #00384e;
}
h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
h1 span{
    color: #68a3f1;
}
nav ul {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
ul li{
    display: inline-block;
    align-items: center;
    color: #68a3f1;
    margin: 10px 20px;
    position: relative;
}
ul li:nth-child(1):after{
    content: '';
    width: 0;
    height: 2px;
    background: #63cffa;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
ul li:nth-child(1):hover::after{
    width: 100%;

}
ul li:nth-child(2):after{
    content: '';
    width: 0;
    height: 2px;
    background: #63cffa;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: 0.5s;
}
ul li:nth-child(2):hover:after{
    width: 100%;

}
ul li:nth-child(3):after{
    content: '';
    width: 0;
    height: 2px;
    background: #63cffa;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
ul li:nth-child(3):hover:after{
    width: 100%;
}
ul li:nth-child(4):after{
    content: '';
    width: 0;
    height: 2px;
    background: #63cffa;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: 0.5s;
}
ul li:nth-child(4):hover:after{
    width: 100%;
}
ul li:nth-child(5):after{
    content: '';
    width: 0;
    height: 2px;
    background: #63cffa;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
ul li:nth-child(5):hover:after{
    width: 100%;
}
/* end of nav */

/* nav mediaquary */
@media (max-width: 450px){
    ul li{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        position: fixed;
        top: 0;
        right: -100px;
        font-size: 30px;
        background: black;
        color: #63cffa;
        width: 300px;
        height: 100%;
        z-index: 99;
        transition: 0.75s ease-out;
    }
}
/* end of nav responsiveness */



/* footer */
footer{
    background: #5f7a85;
    color: white;
    padding: 25px;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ol li{
    color: #68a3f1;
    list-style: none;
    text-decoration: none;
    padding: 5px;
}
.tops{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */

}
.dash{
    padding-top: 20px;
    border-top: 1px solid #d0edf8;
}
.creator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right{
    padding-bottom: 10px;
}






